<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-07-06T21:02:38Z</date>
	<key>WorkspacePath</key>
	<string>/Users/triumph/projects/voiceCode/DarwinEventMonitor/DarwinEventMonitor/Darwin Event Monitor.xcworkspace</string>
</dict>
</plist>
